/* Configurações Gerais*/
body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0px;
}

p , li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação */

header, .navbar {
    background-color: #353d41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 70px;
    margin-left: 20px;
    margin-right: 40px;
}

navbar-brand {
    padding: 0;
    color: white;
}

.navbar-brand:hover {
    color: #fff;
}

#navbar-links a {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem 1.8rem;
  }

  /* Slider */

  .container-fluid {
      padding: 0;
  }

  #main-slide .carousel-inner, #main-slide .carousel-item {
      height: 90vh;
  }

  #main-slide .carousel-caption {
      top: 30%;
  }

  #main-slide .carousel-caption h2 {
      font-size: 50px;
      margin-bottom: 30px;
  }

  #main-slide .carousel-caption p {
    font-size: 1.2em;
    margin-bottom: 30px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #fff;
}

.main-btn {
    background-color: #65daf9;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
    text-decoration: none;
}

.main-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: #65daf9;
}

.carousel-indicators .active {
    background-color: #65daf9;
}